DEYE_LOGGER_IP_ADDRESS=192.168.x.x
DEYE_LOGGER_PORT=8899
DEYE_LOGGER_SERIAL_NUMBER=1234567890

DEYE_MQTT_HOST=192.168.x.x
DEYE_MQTT_PORT=1883
DEYE_MQTT_USERNAME=user
DEYE_MQTT_PASSWORD=password
DEYE_MQTT_TOPIC_PREFIX=deye

DEYE_LOG_LEVEL=INFO
DEYE_DATA_READ_INTERVAL=60