DEYE_LOGGER_IP_ADDRESS=192.168.x.x
# DEYE_LOGGER_PORT=8899
DEYE_LOGGER_SERIAL_NUMBER=1234567890
# DEYE_LOGGER_PROTOCOL=tcp
# DEYE_LOGGER_MAX_REG_RANGE_LENGTH=256

MQTT_HOST=192.168.x.x
# MQTT_PORT=1883
# MQTT_USERNAME=user
# MQTT_PASSWORD=password
# MQTT_TOPIC_PREFIX=deye
# MQTT_TLS_ENABLED=true
# MQTT_TLS_INSECURE=true
# MQTT_TLS_CA_CERT_PATH=certs/ca.crt
# MQTT_TLS_CLIENT_CERT_PATH=certs/client.crt
# MQTT_TLS_CLIENT_KEY_PATH=certs/client.key

# LOG_LEVEL=INFO
# LOG_STREAM=STDOUT
# PLUGINS_DIR=plugins
# PLUGINS_ENABLED=deye_plugin_sample,deye_plugin_custom
# DEYE_DATA_READ_INTERVAL=60
# DEYE_PUBLISH_ON_CHANGE=false
# DEYE_PUBLISH_ON_CHANGE_MAX_INTERVAL=360
DEYE_METRIC_GROUPS=string

# DEYE_FEATURE_MQTT_PUBLISHER=true
# DEYE_FEATURE_TIME_OF_USE=false
# DEYE_FEATURE_ACTIVE_POWER_REGULATION=false
# DEYE_FEATURE_SET_TIME=false

## Sample multiinverter configuration with two loggers
#
# DEYE_LOGGER_COUNT=2

# DEYE_LOGGER_1_IP_ADDRESS=192.168.0.1
# DEYE_LOGGER_1_SERIAL_NUMBER=1234567890
# DEYE_LOGGER_1_PROTOCOL=at

# DEYE_LOGGER_2_IP_ADDRESS=192.168.0.2
# DEYE_LOGGER_2_SERIAL_NUMBER=1234567891
# DEYE_LOGGER_2_PROTOCOL=at
