DEYE_LOGGER_IP_ADDRESS=192.168.x.x
DEYE_LOGGER_PORT=8899
DEYE_LOGGER_SERIAL_NUMBER=1234567890

# DEYE_FEATURE_MQTT_PUBLISHER=true
# DEYE_FEATURE_STDOUT_PUBLISHER=false
# DEYE_FEATURE_SET_TIME=false

MQTT_HOST=192.168.x.x
# MQTT_PORT=1883
# MQTT_USERNAME=user
# MQTT_PASSWORD=password
# MQTT_TOPIC_PREFIX=deye
# MQTT_TLS_ENABLED=true
# MQTT_TLS_INSECURE=true
# MQTT_TLS_CA_CERT_PATH=certs/ca.crt
# MQTT_TLS_CLIENT_CERT_PATH=certs/client.crt
# MQTT_TLS_CLIENT_KEY_PATH=certs/client.key

# LOG_LEVEL=INFO
# LOG_STREAM=STDOUT
# DEYE_DATA_READ_INTERVAL=60
DEYE_METRIC_GROUPS=string
