[Unit]
Description=Deye Inverter ModBus to MQTT
After=network.target

[Service]
Type=simple
# Put in Directory where your files are located
WorkingDirectory=/usr/local/share/deye-inverter-mqtt/
SyslogIdentifier=deye-inverter-mqtt.py
#StandardOutput=syslog
#StandardError=syslog
EnvironmentFile=etc/deye-inverter-mqtt/config.env"
ExecStart=/usr/bin/python3 deye_docker_entrypoint.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
