[Unit]
Description=Deye solar inverter MQTT bridge
After=network.target

[Service]
Type=exec
User=deyeuser
WorkingDirectory=/path/to/deye-inverter-mqtt/
ExecStart=/path/to/deye-inverter-mqtt/venv/bin/python src/deye_docker_entrypoint.py
Restart=always
EnvironmentFile=/path/to/deye-inverter-mqtt/config.env

[Install]
WantedBy=multi-user.target
